<footer id="footer" class="footer">
    <div class="container">
        <div class="footer-section">
            <div class="footer-right-side">
                <div class="footer-logo"><img src="../../../image/logo1.png"></div>
                <a class="trm-policy" href="/privacy">Privacy Policy</a> <span style="float: left;padding: 0 5px;">|</span> <a class="trm-policy" href="/terms">Terms Of Use</a>
                <div class="clearfix"></div>
                <p> © 2018-19 EduCommerce Technologies Pvt. Ltd. All rights reserved. </p>
            </div>
            <div class="footer-right -space-v-1">
                <div class="footer-info">
                    <ul id="menu-footer" class="links">
                        <li><a href="/about">About</a></li>
                        <li><a href="/career">Careers</a></li>
                            <li><a href="/be-a-partner">Be a partner</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="footer-social">
                    <ul>
                        <li><a id="facebook" class="social-icon" href="https://www.facebook.com/mylyapp" target="_blank"></a></li>
                        <li><a id="google-plus" class="social-icon" href="https://plus.google.com/+Mylyapp/posts" target="_blank"></a></li>
                        <li><a id="twitter" class="social-icon" href="https://twitter.com/mylyapp" target="_blank"></a></li>
                        <li><a id="linkedin" class="social-icon" href="https://www.linkedin.com/company/mylyapp" target="_blank"></a></li>
                        <li><a id="youtube" class="social-icon" href="https://www.youtube.com/channel/UCoqMaXL11uSeUL4VEoYDQtg" target="_blank"></a></li>
                        <li><a id="pinterest" class="social-icon" href="https://www.pinterest.com/mylyapp/technologies-in-schools/" target="_blank"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>