 <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60009497-3"></script>
  <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-60009497-3');</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Teacher apps | School ERP |School administration & management - myly</title>
  <meta name="keywords" content="Mobile app for teachers, teacher app, school management system, school erp, school information system, school management software, school management, student teacher management system, school administration and management" />
  <meta name="description" content="Teachers and school admin can better manage and organize their everyday tasks with the friendly myly admin app. Improve efficiency in school administration." />
  <link rel="icon" href="/image/favicon.ico" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<link href="../css/style.css" rel="stylesheet" type="text/css"  />
<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css"  />
<link href="../js/BootstrapModal/bootstrap-dialog.min.js" rel="stylesheet" type="text/css"  />
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css"  />
<link href="../css/home-responsive.css" rel="stylesheet" type="text/css"  />
<link href="../css/flexcss.css" rel="stylesheet" type="text/css"  />
<link rel="stylesheet" href="../css/swiper.min.css"  />
<link href="../css/animate.css" rel="stylesheet" type="text/css"  />
<link href="../css/slick.css" rel="stylesheet" type="text/css"  />
<!-- <link href="css/mockup1.css" rel="stylesheet" type="text/css"  /> -->
<link href="../css/BootstrapModal/bootstrap.min.css" rel="stylesheet" type="text/css"  />

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.min.js"></script>
<script type="text/javascript" src="../js/BootstrapModal/bootstrap-dialog.min.js"></script>
<script type="text/javascript" src="../js/loader.js"></script>
<script type="text/javascript" src="../js/ValidationCommon.js?v=1.0.2"></script>
<script type="text/javascript"src="../js/jquery.validationEngine.js"></script>
<script src="../js/MobileAppBrochure/MobileAppBrochure.js?v=1.0.3" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
  jQuery("#formMobileAppBrochure").validationEngine({
      scroll: false, showOneMessage: true, promptPosition: "bottomLeft", "validateMobile": { "mobile": "validateMobile" }
  });
});
function ReplaceChars(arg) {
  if (arg.value.length > 0) {
      if (arg.value.substr(0, 1) == 0) {
          arg.value = arg.value.replace(/^0+/g, '');
      }
  }
}
function ReplaceCharsOnPaste(arg) {
  setTimeout(function () { ReplaceChars(arg) }, 30)
}
</script>
<script type="text/javascript">jQuery(document).ready(function () { $(".rtpf").click(function (a) { a.preventDefault(); $("html,body").animate({ scrollTop: $("#brocher-info").offset().top - 90 }, 2500) }) });</script>
